@use "../../styles/util" as *;

#workspace {
  display: grid;
  width: 100vw;
  height: 100svh;
  cursor: crosshair;
  touch-action: none;

  .konva-container {
    width: 100vw;
    height: 100svh;
  }

  .question-mark {
    position: fixed;
    inset: 4rem auto 1rem 1rem;
    display: grid;
    place-items: center;
    padding-top: 2px;
    width: 3rem;
    height: 3rem;
    list-style-type: none;
    background-color: #{color("secondary-dark")};
    border-radius: 50%;
    font-size: 1.75rem;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    @include tablet {
      inset: auto 1rem 1rem auto;
    }
  }

  .help {
    position: absolute;
    z-index: 10;
    background-color: #{color("secondary-dark")};
    border-radius: 5px;
    border: 1px solid #{color("primary")};
    line-height: 1.4;

    &[open] {
      inset: 8rem 1rem auto;
      box-shadow: 0 20px 80px 10px #{color("background-dark")};
      @include tablet {
        inset: 7rem 3rem auto;
        max-width: 40rem;
        margin: auto;
      }

      .question-mark {
        background-color: #{color("secondary-light")};
      }
    }
  }

  .heading {
    @include subheading;
    border-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(90deg, #{color("accent")}, transparent);
    border-image-slice: 0 0 1 0;
    padding: 0.6rem 1rem 0.5rem;
  }

  .instructions {
    display: grid;
    list-style-type: disc;
    padding: 1rem 1rem 1rem 2rem;
    gap: 0.5rem;
    max-height: 50svh;
    overflow: scroll;
    @include tablet {
      gap: 1rem;
    }

    .keyboard-shortcuts {
      display: none;
      @include tablet {
        display: grid;
      }
    }
  }
}
