:root {
  --color-background: #252422;
  --color-background-dark: #121211;
  --color-background-light: #{lighten(#252422, 10%)};
  --color-primary: #fffcf2;
  --color-primary-dark: #fbf5dd;
  --color-highlight: #ccc5b9;
  --color-highlight-light: #dad7d1;
  --color-highlight-dark: #bab5ae;
  --color-secondary: #403d39;
  --color-secondary-light: #4b4a48;
  --color-secondary-dark: #32312e;
  --color-accent: #ee6055;
  --color-accent-light: #f48a83;
  --color-accent-dark: #cf5249;
  --color-accent-secondary: #5592ee;
  --color-accent-secondary-light: #7faaeb;
  --color-accent-secondary-dark: #466fac;
}
