:root {
  --color-background: #252422;
  --color-background-dark: #{darken(#252422, 10%)};
  --color-background-light: #{lighten(#252422, 10%)};
  --color-primary: #fffcf2;
  --color-highlight: #ccc5b9;
  --color-secondary: #403d39;
  --color-accent: #ee6055;
  --color-accent-secondary: #5592ee;
}
