@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Italic.ttf") format("truetype");
  font-style: italic;
}
@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
