*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul,
menu {
  list-style: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}
address {
  font-style: inherit;
}
fieldset,
button,
input[type="button"] {
  border: none;
}
input,
textarea,
select,
button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
button,
input[type="button"] {
  background-color: initial;
  cursor: pointer;
  border: initial;
}
