@use "sass:map";
@use "./config" as *;

$colors: (
  "background": var(--color-background),
  "background-dark": var(--color-background-dark),
  "background-light": var(--color-background-light),
  "primary": var(--color-primary),
  "primary-dark": var(--color-primary-dark),
  "highlight": var(--color-highlight),
  "secondary": var(--color-secondary),
  "secondary-light": var(--color-secondary-light),
  "secondary-dark": var(--color-secondary-dark),
  "accent": var(--color-accent),
  "accent-light": var(--color-accent-light),
  "accent-dark": var(--color-accent-dark),
  "accent-secondary": var(--color-accent-secondary),
  "accent-secondary-light": var(--color-accent-secondary-light),
  "accent-secondary-dark": var(--color-accent-secondary-dark),
);

@function px-as-rem($_num-pixels) {
  @return #{calc($_num-pixels / 16)}rem;
}

@function color($_type) {
  @return #{map.get($colors, $_type)};
}

@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin letter {
  width: $letter;
  margin: 0 auto;
}

@mixin heading {
  font-size: $heading-size-mobile;
  font-weight: bold;

  @include desktop {
    font-size: $heading-size-desktop;
  }
}

@mixin subheading {
  font-size: $subheading-size-mobile;
  font-weight: bold;

  @include desktop {
    font-size: $subheading-size-desktop;
  }
}

@mixin body {
  font-size: $body-size-mobile;

  @include desktop {
    font-size: $body-size-desktop;
  }
}

@mixin link {
  text-align: center;
  color: #{color("highlight")};
  margin-top: -1rem;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

@mixin button {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  background-color: #{color("accent-light")};
  color: #{color("background-dark")};

  &:hover {
    background-color: #{color("accent")};
  }
}

@mixin form-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  width: 100%;
  @include desktop {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 60%;
    justify-items: flex-end;
    align-items: center;
    gap: 0.5rem;
  }
}

@mixin text-input {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  padding: 0 0.5rem;
  color: #{color("background")};

  &.invalid {
    outline: 3px solid #{color("accent-dark")};
  }
}

@mixin text-page {
  @include body;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  width: 100%;
  min-height: 100svh;

  .marble {
    animation: marble-bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@mixin login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100svh;
  padding-top: 5rem;

  &.submitting {
    filter: brightness(0.75);

    .marble {
      animation-duration: 0.5s;
    }
  }

  .marble {
    z-index: 0;
    margin: 0 auto;
    animation: marble-bouncing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  .heading {
    @include heading;
    text-align: center;
    line-height: 1;
  }

  .description {
    @include body;
  }

  .fields {
    @include letter;
    width: 30rem;
    max-width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }

  .label {
    @include form-label;
    border-radius: 5px;
    background-color: #{color("secondary")};
    padding: 1rem;

    @include desktop {
      padding: 0.5rem 1rem;
    }
  }

  .input {
    @include text-input;
  }

  .button {
    @include button;
    width: 10rem;
    margin: auto;
  }

  .create-account {
    @include link;
  }
}
