@use "../../styles/util" as *;

.toolbar {
  position: absolute;
  inset: auto 1rem 0;
  user-select: none;
  overflow: hidden;
  transition: opacity 0.1s ease-out;
  overflow: hidden;
  touch-action: none;
  @include tablet {
    width: fit-content;
  }

  &.hidden {
    opacity: 0;
  }

  &.is-saving {
    filter: brightness(0.75);
  }

  .summary {
    display: grid;
    margin: 0 1rem;
    @include tablet {
      display: flex;
      align-items: flex-end;
    }

    .tab {
      position: relative;
      top: 1px;
      display: grid;
      place-items: center;
      border-top: 1px solid #{color("highlight")};
      border-left: 1px solid #{color("highlight")};
      border-right: 1px solid #{color("highlight")};
      height: 3.25rem;
      max-height: 3.25rem;
      padding: 0 1rem;
      font-weight: bold;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #{color("secondary-dark")};
      font-weight: bold;
      transition:
        padding 0.2s ease-out,
        max-height 0.2s ease-out;

      &.hidden {
        display: none;
      }

      &.synth-tab {
        background: #{color("primary")};
        color: #{color("background")};

        &.selected {
          background: linear-gradient(180deg, #{color("primary-dark")}, #{color("primary")} 50%);
        }
      }
    }
  }

  .delete-body-button {
    @include button;
  }

  .login-prompt {
    a {
      @include link;
    }
  }

  .checkboxes {
    display: grid;
    gap: 1rem;
    padding: 0.5rem 1rem;

    &.hidden {
      display: none;
    }

    .label {
      display: flex;
      gap: 0.5rem;
    }
  }

  .text-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    font-weight: bold;

    @include tablet {
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  .input {
    @include text-input;
  }

  .buttons {
    display: grid;
    align-items: center;
    gap: 0.5rem;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }

  .button {
    @include button;
  }

  .failure-message {
    color: #{color("accent-light")};

    &.success-message {
      color: #{color("accent-secondary-light")};
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;
    max-height: 0;
    border-top: 1px solid #{color("highlight")};
    border-left: 1px solid #{color("highlight")};
    border-right: 1px solid #{color("highlight")};
    height: 20rem;
    padding: 0 1rem;
    background-color: #{color("secondary-dark")};
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    transition:
      max-height 0.2s ease-out,
      background-color 0.2s ease-out;

    &.synth {
      padding: 0;
    }
  }

  &[open] {
    .content {
      margin-bottom: -1px;
    }
  }

  &.open {
    .content {
      &.bodies {
        max-height: 10rem;
        @include tablet {
          max-height: 5rem;
        }
      }

      &.edit {
        max-height: 6rem;
      }

      &.settings {
        max-height: 16rem;

        &:has(.text-label) {
          max-height: 18rem;

          @include tablet {
            max-height: 16rem;
          }
        }

        &:has(.failure-message) {
          max-height: 20rem;

          @include tablet {
            max-height: 16rem;
          }
        }
      }

      &.synth {
        max-height: 16rem;

        &:has(.small) {
          max-height: 10rem;
        }

        @include tablet {
          max-height: 13rem;

          &:has(.small) {
            max-height: 10rem;
          }
        }
      }
    }

    .tab {
      &:not(.selected) {
        max-height: 5px;
        color: transparent;
        @include tablet {
          max-height: 2.25rem;
          color: inherit;

          &.synth-tab {
            color: #{color("background")};
          }
        }
      }

      &.selected {
        background: linear-gradient(180deg, #{color("secondary")}, #{color("secondary-dark")} 50%);
        @include tablet {
          max-height: 2.25rem;
        }
      }
    }
  }
}
