@use "../../styles/util" as *;

.toolbar {
  position: absolute;
  z-index: 1;
  inset: auto 1rem 0;
  user-select: none;
  overflow: hidden;
  transition: opacity 0.1s ease-out;
  overflow: hidden;
  @include tablet {
    width: fit-content;
  }

  &.hidden {
    opacity: 0;
  }

  .summary {
    display: grid;
    margin: 0 1rem;
    @include tablet {
      display: flex;
      align-items: flex-end;
    }

    .tab {
      position: relative;
      top: 1px;
      display: grid;
      place-items: center;
      border-top: 1px solid #{color("highlight")};
      border-left: 1px solid #{color("highlight")};
      border-right: 1px solid #{color("highlight")};
      height: 3.25rem;
      max-height: 3.25rem;
      padding: 0 1rem;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #{color("secondary-dark")};
      transition:
        padding 0.2s ease-out,
        max-height 0.2s ease-out;

      &.hidden {
        display: none;
      }
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1rem;
    max-height: 0;
    border-top: 1px solid #{color("highlight")};
    border-left: 1px solid #{color("highlight")};
    border-right: 1px solid #{color("highlight")};
    padding: 0 1rem;
    background-color: #{color("secondary-dark")};
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
    transition:
      max-height 0.2s ease-out,
      background-color 0.2s ease-out;

    &.bodies,
    &.edit,
    &.settings {
      height: 10rem;
    }
  }

  &[open] {
    .content {
      margin-bottom: -1px;
    }
  }

  &.open {
    .content {
      &.bodies,
      &.edit,
      &.settings {
        height: 10rem;
      }

      &.bodies {
        max-height: 10rem;
        @include tablet {
          max-height: 5rem;
        }
      }

      &.edit {
        max-height: 2rem;
      }

      &.settings {
        max-height: 2rem;
      }
    }

    .tab {
      &:not(.selected) {
        max-height: 5px;
        color: transparent;
        @include tablet {
          max-height: 2.25rem;
          color: inherit;
        }
      }

      &.selected {
        background: linear-gradient(180deg, #{color("secondary")}, #{color("secondary-dark")} 50%);
        @include tablet {
          max-height: 2.25rem;
        }
      }
    }
  }
}
