@use "../../styles/util" as *;

.home {
  @include text-page;
  gap: 2rem;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem;

  .marble {
    z-index: 0;
    margin-bottom: -2rem;
  }

  .heading {
    @include heading;
    align-self: flex-start;
  }

  & > .subheading {
    @include subheading;
    align-self: flex-start;
    margin-top: 3rem;
    margin-bottom: -1rem;
  }

  .description {
    @include body;
    align-self: flex-start;
  }

  .button {
    @include button;
    align-self: flex-end;
  }
}
