@use "../../styles/util" as *;

.header {
  position: fixed;
  z-index: 11;
  inset: 0 0 auto;
  display: flex;
  background: linear-gradient(0deg, #{color("background-dark")}, #{color("background-light")});

  a {
    display: block;
    width: fit-content;
  }

  .heading {
    @include subheading;
    position: relative;
    padding: 1rem 1rem;
    width: fit-content;
  }
}
