@use "../../styles/util" as *;

.account {
  @include letter;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100svh;
  padding-top: 6rem;

  .heading {
    @include heading;
  }

  .button {
    @include button;
    align-self: flex-end;
  }
}
