@use "../../styles/util" as *;

.track-grid-loading {
  @include text-page;
}

.track-grid-fallback {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;

  & > .fallback-button {
    @include button;
    align-self: flex-start;
  }
}

.track-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;

  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }

  .subheading {
    @include subheading;
  }

  .byline {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.875rem;
    color: #{color("primary-dark")};
  }

  .grid-item {
    display: grid;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #{color("secondary")};
    height: 100%;
    border-radius: 5px;

    &:hover {
      background-color: #{color("secondary-light")};
    }
  }
}
