@use "../../styles/util" as *;

.playback {
  position: absolute;
  inset: 0 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 3.5rem;

  @include tablet {
    padding-top: 0.25rem;
    width: 20%;
    margin: 0 auto;
    z-index: 11;
  }

  .button {
    position: relative;
    z-index: 1;
    display: grid;
    font-size: 0;
    @include tablet {
      &.trash {
        display: none;
      }
    }

    &.hidden {
      display: none;
    }
  }

  .delete-icon {
    width: 2rem;
    height: 2rem;

    @include tablet {
    }
  }
}
